API_FOOTBALL_KEY=
THE_ODDS_API_KEY=
THE_ODDS_API_WORLD_CUP_SPORT_KEY=soccer_fifa_world_cup_winner
THE_ODDS_API_REGIONS=us,uk,eu
POLYMARKET_CLOB_HOST=https://clob.polymarket.com
ENABLE_REAL_POLYMARKET_ORDERS=false
POLYMARKET_CHAIN_ID=137
POLYMARKET_SIGNATURE_TYPE=3
POLYMARKET_FUNDER_ADDRESS=
POLYMARKET_PRIVATE_KEY=
POLYMARKET_API_KEY=
POLYMARKET_API_SECRET=
POLYMARKET_API_PASSPHRASE=
CLOB_API_KEY=
CLOB_SECRET=
CLOB_PASS_PHRASE=
DEPOSIT_WALLET=
PRIVATE_KEY=
POLYMARKET_BUILDER_CODE=
